
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 85 247 239;
    --color-primary-dark: 0 57 55;
    --color-primary-contrast: 51 123 140;
    --color-secondary: 255 215 0;
    --color-tertiary: 201 149 254;
    --color-special: 136 224 208;
    --color-background: 15 15 16;
    --color-text: 245 245 245;
    --color-text-header: 239 246 229;
    --color-card: 39 39 42;
    --color-card-field: 63 63 70;
    --color-card-border: 82 82 91;
    --color-card-text: 161 161 170;
    --color-card-text-label: 212 212 216;
    --color-card-text-header: 250 250 250;
  }

  body {
    @apply bg-background text-text;
  }
}

.dragging {
  @apply opacity-50 scale-95;
}

.drag-over {
  @apply border-special/50 !important;
}
